body {
  background:
    radial-gradient(
      circle at top left,
      rgba(180, 30, 30, 0.25),
      transparent 30%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(255, 80, 0, 0.15),
      transparent 25%
    ),
    linear-gradient(
      135deg,
      #cf3b00 0%,
      #491808 15%,
      #000000 35%,
      #1f0200 60%,
      #521000 85%,
      #270303 100%
    );

  background-size: 400% 400%;
  animation:
    mudarBackground 5s ease infinite,
    entrada 1s ease;
}

@keyframes mudarBackground {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes entrada {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
